<app-header></app-header>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else vitoria" class="container">
    <div class="col">
      <div class="row">
        <h3 class="derrota">Fim de jogo! <br> Infelizmente você perdeu! :(</h3>
      </div>
    </div>
  </div>
  <ng-template #vitoria>
    <div class="container">
      <div class="col">
        <div class="row">
          <h3 class="vitoria">Fim de jogo! <br> Parabéns você ganhou! \o/</h3>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="container">
    <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
  </div>
</ng-template>

<router-outlet></router-outlet>
